
body {
	@include flexbox-center;
	background-image: url(https://images.unsplash.com/photo-1470225620780-dba8ba36b745?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.keyboard {
	@include flexbox-center;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: .2rem;
	width: 100%;
}

.key 	{
	position: relative;
	@include flexbox-center;
	background-color: rgba(0,0,0,.2);
	border: .4rem solid black;
	border-radius: .5rem;
	height: 10rem;
	width: 11rem;
	cursor: pointer;
	background-color:rgba(45,9,109, .6);
	transition: all .0.8s linear;

	&::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
		background-color:rgba(45,9,109, .6);
    transition: all 0.4s;
  }
	
	
	&:active {
		&::after {
			content: "";
			transform: scaleX(1.4) scaleY(1.6);
			background-color:rgb(172,19,200);
			opacity: 0;
		}
	}
}

.active {
	&::after {
		content: "";
		transform: scaleX(1.4) scaleY(1.6);
		background-color:rgb(172,19,200);
		opacity: 0;
	}
}


.text {
	@include flexbox-center;
	flex-direction: column;
	gap: .5rem;

	&__key {
		font-size: 3.5rem;
	}

	&__sound {
		text-transform: uppercase;
		letter-spacing: .13rem;
		font-size: 1.2rem;
	}
}

.border-active {
	border: .6rem solid rgb(172,19,200);
	box-shadow: 0 0 23px 1px rgb(172,19,200);
	border-radius: .5rem;
	transform: all .4s linear;
}

